*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

/css/coverage.css
/css/highlight-idea.css
/img/arrowDown.gif
/img/arrowUp.gif
/index.html
/index_SORT_BY_BLOCK.html
/index_SORT_BY_BLOCK_DESC.html
/index_SORT_BY_CLASS.html
/index_SORT_BY_CLASS_DESC.html
/index_SORT_BY_LINE.html
/index_SORT_BY_LINE_DESC.html
/index_SORT_BY_METHOD.html
/index_SORT_BY_METHOD_DESC.html
/index_SORT_BY_NAME_DESC.html
/js/highlight.pack.js
/ns-1/index.html
/ns-1/index_SORT_BY_BLOCK.html
/ns-1/index_SORT_BY_BLOCK_DESC.html
/ns-1/index_SORT_BY_CLASS.html
/ns-1/index_SORT_BY_CLASS_DESC.html
/ns-1/index_SORT_BY_LINE.html
/ns-1/index_SORT_BY_LINE_DESC.html
/ns-1/index_SORT_BY_METHOD.html
/ns-1/index_SORT_BY_METHOD_DESC.html
/ns-1/index_SORT_BY_NAME_DESC.html
/ns-1/sources/source-1.html
/ns-1/sources/source-2.html
/ns-1/sources/source-3.html
/ns-1/sources/source-4.html
